<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Bookstore</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<h1>Books</h1>
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Title</th>
		    	<th>Author</th>
		    	<th>ISBN</th>
		    	<th>Price</th>
		    	<th>Year</th>
			</tr>
			<tr th:each = "book : ${books}">
				<td th:text="${book.book_title}"></td>
				<td th:text="${book.book_author}"></td>
				<td th:text="${book.book_isbn}"></td>
				<td th:text="${book.book_price}"></td>
				<td th:text="${book.book_year}"></td>
				<td><a th:href="@{/delete/{book_id}(book_id=${book.book_id})}" class="btn btn-danger">Delete</a></td>
				<td><a th:href="@{/edit/{book_id}(book_id=${book.book_id})}" class="btn btn-danger">Edit</a></td>
			</tr>
		</tbody>
		<a href="/add" class="btn btn-success">Add book</a>
	</table>
</body>

</html>